.BodyStyle {
  margin : 0px;
  width: 100%;
  height: auto;
  /* background: linear-gradient(-60deg, #ff5af7,#cf44fa,#bf34ff,#a825ff,#851efa,#885cff,#734dff); */
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding : 0px;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.Todo {
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 0%;
  padding-right: 0%;
}

.home {
  margin-top: 50px;
  margin-left: 25%;
  width: 50%;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 25px;
  background-color:rgba(255, 255, 255, 0.200)
}

.home-h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #fff;
}

.home-h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(73, 79, 82);
  color: #fff;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link-button {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.700);
  padding: .5em 1em;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;

  --accent-color : rgb(181, 22, 255);
}

.link-button.btn-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.link-button.btn-background-slide:hover::before,
.link-button.btn-background-slide:focus::before{
  transform: scaleX(1);
}

.link-button.btn-background-slide {
  z-index: 1;
}

.link-button.btn-background-slide:hover,
.link-button.btn-background-slide:focus {
  color:black;
}


